body{
  font-family: "Gabarito", sans-serif;
  
}
*{
    padding:0;
    margin:0 ;
    
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    border-bottom: solid black 1px;
    gap: 10px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
.navbar_s1-title{
    color:#A435F0;
}
.navbar_s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display:flex;
    gap: 10px;
    align-items: center;
    background-color: white;

}
.navbar_s2-search{
    border: none;
    width: 100%;
    font-size:16px ;
    background-color: transparent;
    
    

}
.navbar_s2-search:focus{
    outline:none ;
}




.navbar_s3{
    display: flex;
    gap: 10px;
    align-items: center;
}
/*My learning popup*/
.mylearning{
    position: relative;
    cursor: pointer;
    
}
.mylearning-popup{
    position: absolute;
    background-color: white;
    border:solid black 2px;
    width: 100px;
    padding: 3px;
    top: 150%;
    right: 0;
    display: none;
}
.mylearning:hover .mylearning-popup{
    display: block;
}



.cat{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: solid black 1px;
    
    


}
.cat p{
    background-color: #A435F0;
    color: white;
    padding: 10px;
    border-radius: 40px;
    
}

.cat p:hover{
    background-color: white;
    color: black;
    border: solid black 1px;
}



.sales-img{
    position: relative;
}
.Sales-img img{
    width: 100%;
}
.sales-img-off{
    width: fit-content;
    border: solid black 2px;
    padding: 20px;
    position:absolute;
    top: 25%;
    left: 10%;
}


.Recommended{
    padding: 10px;
}

.Recommended-container{
    display:flex;
    justify-content: space-around;
    margin-top: 10px;
    flex-wrap: wrap;
}

.course-card{
    width: 250px;
}
.course-card img{
    height: 50%;
    width: 100%;
}

.topics{
    padding: 10px;
}
.topics-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;

}
.topics-container p{
    margin: 5px;
    padding: 10px;
    border: solid black 1px;
    border-radius:40px;
    flex-grow: 1;
    flex-basis: 25%;
    
}

.popular{
    padding: 10px;
}
.popular-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
}

.popular-card{
    
    width: 250px;
}

.popular-card img{
    width: 100%;
    height: 50%;
}

.footer{
    background-color: black;
    color: white;
    padding: 30px;
}
.footer-one{
    display: flex;
    gap: 10px;
    
    
}
.footer-one p{
    margin: 20px;
}
.footer-two{
    display: flex;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
}